body 
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13px;
}
#wrapper
{
    /* width: 1200px; */
    width: 100%;
    margin: 0px auto;
}
#header
{
    /* background: #029ef3; */
    background-color: #fff;
    display: flex;
    justify-content: space-between; /* Đặt hai ul ở hai bên (chỉ áp dụng cho các phần tử con của thẻ này) */
}
ul
{
    text-align: center; /*Canh giữa nội dung*/
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
#main_menu_bar li:first-child a {
    font-family: 'Georgia', serif; 
    font-size: 24px; 
    font-weight: bold; 
    color: #000;
}
ul#main_menu_bar li
{
    display: inline-block; /* Canh giua*/
    padding: 20px 0;
}
ul#main_menu_bar li a
{
    display: block;
    padding: 8px 15px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
ul#side_menu_bar li
{
    display: inline-block; /* Canh giua*/
    cursor: pointer;
}
.material {
    font-size: 10px;
    width: 10px;
    height: 20px;
}
ul#side_menu_bar li a
{
    display: block;
    /* padding: 8px 15px; */
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#content
{
    min-height: 600px;
    padding: 20px 0px;
}
p {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: weight;
    font-style: normal;
    margin: 20px 0;
    width: 90%;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

/* Search */
#search_bar {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    min-width: 300px;
    height: 40px;
    /* margin-left: 10px; */
    margin-left: auto;
}

#search_input {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 100%;
    height: 100%;
}
#search_button {
    background-color: #000;
    color: #fff;
    /* border: none; */
    border: 1px solid #000;
    width: 30px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search_button i {
    font-size: 14px;
}




ul {
    padding: 0;
}

ul#main_menu_bar li {
    display: inline-block;
    padding: 20px 0;
}

.product {
    border: 1px solid #e1dede;
    transition: all 0.3s ease;
}

.product:hover {
    opacity: 0.7;
}


/* === header === */
/* .menu_item {
    position: relative;
} */
#header {
    position: relative;
}

/* MENU ITEM */
.menu_item a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.hover_content {
    top: calc(100% + 10px);
    /* Khoảng cách giữa menu và hover_content */

    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    /* Tùy chỉnh kích thước */
    z-index: 10;
    gap: 10px;
    max-height: 350px;
}

.hover_content .left_column,
.hover_content .right_column {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-align: left;
    padding: 0 20px;
    padding-top: 25px;
    background: #f3f3f3;
}

.left_column ul li {
    padding: 7px 0 !important;
    margin: 0 !important;
}

.left_column ul li a {
    padding: 0 !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    width: fit-content !important;
}

.hover_content h4 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hover_content ul {
    list-style: none;
    padding: 0;

    text-align: left;
}

.hover_content ul li {
    font-size: 12px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}


.menu_item:hover .hover_content {
    display: flex;
}

.menu_item:hover a {
    border-bottom: 1px solid #000;
}

/* MENU WOMEN */
.menu_women a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.menu_women:hover .hover_content,
.menu_women:focus .hover_content,
.menu_women:active .hover_content,
.hover_content:hover {
    display: flex;
}


.menu_women a:hover,
.menu_men a:hover,
.menu_gift a:hover {
    border-bottom: 1px solid #000;
    transform: scale(1.02);
}

.menu_men:hover .hover_content,
.menu_men:focus .hover_content,
.menu_men:active .hover_content {
    display: flex;
}

.menu_gift:hover .hover_content,
.menu_gift:focus .hover_content,
.menu_gift:active .hover_content {
    display: flex;
}


.right_column p {
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-align: left;
    font-size: 12px;
}

#open_card_contact a:hover {
    border-bottom: 1px solid #000;
}



/* Subcategory Bar*/
.subcategory {
    /* width: 75%;
    margin: auto 0; */
    margin-left: 110px;
}

.subcategory a span {
    color: #000;
    float: right;
    margin: 0 7px;
}

.under_span_subcategory {
    position: relative;
}

.under_span_subcategory::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.9px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: #000;
    /* Màu gạch chân giống màu chữ */
    /* transform: translateY(5px);  */
    opacity: 1;
}

.under_span_subcategory:hover::after {
    animation: disappear 0.5s ease;
}



/* FILTER */
.filterBtn {
    position: relative;
}

.filter {
    display: none;
    position: absolute;
    top: 100%;
    right: 130px;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.filterBtn:hover+.filter,
.filter:hover {
    display: block;
}

.filter hr {
    border: none;
    height: 1px;
    background-color: #eee;
}

.product_filter input[type="submit"],
.price_filter input[type="submit"] {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #000;
}

.price_filter_increase,
.price_filter_decrease {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_filter {
    display: flex;
    flex-direction: column;
}

.product_filter input[type="submit"] {
    height: 30px;
}

.price_filter input[type="submit"] {
    height: 30px;
    width: 100%;
}

.price_filter input[type="submit"]:hover {
    border-bottom: 1px solid #eee;
    opacity: 0.8;
}


.product_filter a {
    color: #000;
    line-height: 30px;

    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    /* transition: all 0.3s ease; */
    /* transform-origin: left;  */
}

.product_filter a:hover {
    border-bottom: 1px solid #eee;
    opacity: 0.8;
}