
/* ==== Back Drop ====*/
.backdropContact {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.backdropContact.show {
    display: block;
    opacity: 1;
}

/* ==== Side Cart ====*/
.sidecard_contact {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background-color: #fff;
    box-shadow: -10px 0 15px var(--light-gray); /*hiệu ứng đổ bóng bên trái của thanh bên*/
    z-index: 3;
    transform: translateX(110%); 
    transition: transform 0.7s ease-in-out; 
}

.sidecard_contact.open {
    transform: translateX(0);
}

.card_content_contact {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 80px;
}
.card_content_contact h1 {
    margin: 80px 0 50px 0;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.close_btn_contact {
    position: absolute;
    right: 0;
    margin: 8px 8px 0 0;
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 27px;
    /* padding: 5px 12px; */
    padding: 12px 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close_btn_contact:hover {
    transform: scale(1.1);
}

/* Cart Items */
.call_us , .facebook, .live_chat{
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #000;
}
.title_cart_item {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}
.title_cart_item i {
    margin-right: 10px;
    font-size: 13px;
}
.phone {
    font-size: 15px;
    display: flex;
    gap: 10px;
}
.content_card_item p {
    all: unset;
    font-family: "Montserrat", sans-serif;
    width: 300px;
    line-height: 20px;
    color: #000;
}
.content_card_item {
    font-size: 13px;
    width: 300px;
    margin-bottom: 20px;
}
/* Cart Actions */
.cart_actions_contact , .cart_actions_contact_a {
    color: #000;
}
.cart_actions_contact {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: left;
}
.cart_actions_contact_a {
    display: block;
    height: 20px;
    width: fit-content;
    border-bottom: 1px solid;
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}